/* blog post */
.blog_post .post_pic {
	border: 4px solid #fff;
	box-shadow: 0px 0px 1px 1px #d0d0d0;
	border-radius: 5px;
}
.blog_post .post_content {
	margin-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #c0c1c3;
	box-shadow: 0px 2px 1px 0px white;
}
.blog_post .post_content p {
	line-height: 22px;
	margin-bottom: 15px;
}
.blog_post .post_content .author {
	margin-top: 45px;
	font-weight: bold;
	font-size: 13px;
}
.blog_post .post_content .date {
	font-size: 12px;
	color: #666;
	font-weight: bold;
}
.blog_post .comments {
	margin-top: 40px;
}
.blog_post .comments .comment {
	margin-bottom: 60px;
	margin-top: 30px;
}
.blog_post .comments .comment.reply_to {
	margin-top: -10px;
}
.blog_post .comments .comment .author_pic {
	max-width: 55px;
	float: right;
}
.blog_post .comments .comment .name {
	font-weight: bold;
}
.blog_post .comments .comment .reply {
	color: #6D9748;
	text-decoration: underline;
	margin-left: 20px;
}
.blog_post .comments .comment .date {
	font-size: 12px;
}
.blog_post .comments .comment .response {
	margin-top: 10px;
}

/* new comment */
.blog_post .new_comment {
	border-top: 1px solid #c0c1c3;
	box-shadow: inset 0px 2px 1px 0px white;
	padding-top: 30px;
}
.blog_post .new_comment form {
	margin-top: 35px;
}
.blog_post .new_comment form input[type="text"] {
	height: 25px;
	width: 100%;
}
.blog_post .new_comment form textarea {
	margin-top: 10px;
	width: 100%;
}


/* blog index */
#blog_wrapper {
	margin: 50px 0px 100px 0px;
}

#blog_wrapper h1.header {
	font-size: 31px;
	margin-bottom: 50px;
}
#blog_wrapper .header hr {
	border-top: 1px solid #bfc0c4;
	border-bottom: 2px solid white;
	width: 82%;
	float: right;
	position: relative;
	top: 5px;
}
#blog_wrapper .post {
	background-color: #fff;
	padding: 4px 10px 4px 4px;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	position: relative;
	margin-bottom: 40px;
}
#blog_wrapper .post .main_pic {
	border: none;
}
#blog_wrapper .post .info a {	
	color: #87a46e;
}
#blog_wrapper .post .info h3 {
	margin-top: 15px;
}
#blog_wrapper .post .post_info {
	margin-top: 25px;
	font-size: 13px;
}
#blog_wrapper .post .post_info .author {
	font-weight: bold;
}
#blog_wrapper .post .btn {
	font-weight: bold;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#blog_wrapper .pagination {
	text-align: right;
}
#blog_wrapper .pagination a {
	color: #3F750A;
}

/* sidebar */
#blog_wrapper .sidebar .search-query {
	margin-top: 20px;
	height: 20px;
}
#blog_wrapper .sidebar .sidebar_header {
	margin-top: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid #bfc0c4;
	box-shadow: 0px 2px 1px 0px white;
	margin-left: 40px;
        position:absolute;
        left:55px;
	
}
#blog_wrapper .sidebar .sidebar_menu {
	list-style-type: none;
	margin-top: 75px;
	margin-left: 40px;
	position:absolute;
        left:55px;

}
#blog_wrapper .sidebar .sidebar_menu li {
	margin-bottom: 10px;
	font-size: 15px;
}
#blog_wrapper .sidebar .sidebar_menu li a {
	color: #333;	
}
#blog_wrapper .sidebar .sidebar_menu li a:hover {
	color: #87a46e;
	text-decoration: underline;
}
#blog_wrapper .sidebar .recent_posts {
	list-style-type: none;
	margin-top: 30px;
	margin-left: 0px;
}
#blog_wrapper .sidebar .recent_posts li {
	margin-bottom: 20px;
	font-size: 15px;
}
#blog_wrapper .sidebar .recent_posts .thumb {
	border: 3px solid #fff;
	box-shadow: 0px 0px 1px 1px #bdbdbd;
}
#blog_wrapper .sidebar .recent_posts a.link {
	color: #333;
	display: block;
	margin-top: 10px;
}
#blog_wrapper .sidebar .recent_posts a:hover {
	color: #87a46e;
	text-decoration: underline;
}

/* Responsive
-------------------------------------------------- */

/* Landscape phones and down */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#blog_wrapper .header hr {
		width: 70%;
	}
	#blog_wrapper .post .main_pic {
		display: block;
		margin: 0 auto;
	}
	#blog_wrapper .sidebar .recent_posts .thumb {
		max-width: 100px;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
}
@media (max-width: 979px) {
	
}
@media (min-width: 980px) {
	
}
/* Large desktop */
@media (min-width: 1200px) {
	#blog_wrapper .post .info {
		width: 420px;
	}
}