h2 {
    margin-top: 5px;
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
}

.stats a {
    color: #888;
}

.stats .row {
    margin-bottom: 10px;
}

.stats .stat {
    background: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 20px 10px 20px;
}

.stats .stat h3 {
    color: #888;
    margin-bottom: 0;
}

.stats .stat .text {
    font-size: 16pt;
    font-variant: small-caps;
}

.stats .stat a:hover {
    text-decoration: none;
}

.account a {
    color: inherit;
}

.account a i {
    vertical-align: top;
}

.account .well {
    margin-top: 10px;
}

.account .well h3 {
    text-align: center;
    margin-bottom: 0;
}

.account i {
    margin-right: 5px;
}

#change-avatar #upload-file-info {
    margin-top: 10px;
}

#change-avatar input[type=file] {
    background-color: transparent;
    color: transparent;
    filter: alpha(opacity=0);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0; 
    z-index: 2;
}

.thumbs {
    margin-top: 10px;
}

.thumbs img {
    height: 75px;
    margin-left: 5px;
    margin-right: 5px;
    width: 75px;
}

.thumb {
    display: inline-block;
    text-align: center;
}

.thumb img {
    display: block;
}

.thumb .badge {
    margin-left: 10px;
    margin-top: 5px;
}

#business form {
    display: inline;
}

.comment {
	margin-bottom: 10px;
}

.share-button { 
    background: url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?6:26981) no-repeat top left;
    height:16px; 
    padding: 2px 0 0 20px; 
}

#conditions input {
    margin: 0px 1px 0 0;
}